<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>TestResult-{{ result.time }}</title>
    <style>
        .resultFalse {
            color: red;
        }

        .resultTrue {
            color: green;
        }
    </style>
</head>
<body>
<div style="overflow: hidden">
    <div style="float: left">Test Date:</div>
    <div style="float: left">{{ result.time }}</div>
    <div style="float: left">Test Machine:</div>
    <div style="float: left">{{ result.machine }}</div>
</div>
<div style="overflow: hidden">
    <div style="float: left; width: 20%">module_name</div>
    <div style="float: left">pass_rate</div>
</div>
{% for key, value in result.modules.items() %}
    <div style="overflow: hidden">
        <div style="float: left; width: 20%">{{ key }}</div>
        <div style="float: left; width: 39%">{{ value.pass }}</div>
        <div style="float: left; width: 39%">{{ value.fail }}</div>
    </div>
{% endfor %}

<div style="border-top: 2px solid #6f5fff;border-right: 2px solid #6f5fff  ">
    <div style="overflow: hidden;  border-bottom: 2px solid #6f5fff ">
        <div style="float: left;width: 20%;border-left: 2px solid #6f5fff ">Test Module</div>
        <div style="float: left;width: 20%;border-left: 2px solid #6f5fff ">Test Case</div>
        <div style="float: left;border-left: 2px solid #6f5fff ">Test Log</div>
    </div>

    {% for key, value in result.modules.items() %}
        {% for value_key,value_value in value.items() %}
            <div style="overflow: hidden; border-bottom: 2px solid #6f5fff" class="result{{ value_value.result }}">
                <div class="module" style="float: left;width: 20%;border-left: 2px solid #6f5fff ">{{ value_key }}</div>
                <div class="testcase"
                     style="float: left;width: 20%;border-left: 2px solid #6f5fff ">{{ value_value.test_case }}</div>
                <div style="float: left;border-left: 2px solid #6f5fff ">{{ value_value.result }}</div>
            </div>
        {% endfor %}
    {% endfor %}

</div>
</body>
</html>