<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestResult-{{ result.time }}</title>
</head>
<body>
<div>
    <div style="float: left">Test Date</div>
    <div style="float: left">{{ result.time }}</div>
    <div style="float: left">Test Machine</div>
    <div style="float: left">{{ result.machine }}</div>
</div>
<div>
    <div style="float: left">module_name</div>
    <div style="float: left">pass_rate</div>
</div>

<table>
    <thead>
    <tr>
        <th><span>Test Module</span></th>
        <th><span>Test Case</span></th>
        <th><span>Test Log</span></th>
    </tr>
    </thead>
    <tbody>
    {% for r in result.results %}
    <tr>
        <td><span>{{r.module}}</span></td>
        <th><span>{{r.test_case}}</span></th>
        <td><span>{{r.result}}</span></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>